body{
    background-color: powderblue;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
} 
h1{
    color: red;
    text-shadow: 2px 2px 5px black;
    font-family:'sacramento',cursive;
}
h3{
    color:rgb(45, 5, 243);
    text-shadow: 2px 2px 3px lightgreen;
}
h3:hover{
    color: orange;
}
h1:hover{
    color: rgb(218, 57, 113);
}
.bottom{
    position:absolute;
    top:700px;
    left:500px;
}
.last{
    position:absolute;
    top:1500px;
    left:500px;
}
